<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Atores
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list *ngIf="listaAtores">

    <ion-item-sliding *ngFor="let ator of listaAtores">
      <ion-item lines="full" (click)="exibirAtor(ator)">

        <ion-thumbnail slot="start">
          <img *ngIf="ator.cartaz" src="{{ator.cartaz}}" />
          <ion-icon *ngIf="!ator.cartaz" name="videocam-off"></ion-icon>
        </ion-thumbnail>

        <ion-label class="ion-text-wrap">
          <div>
            <h1>{{ator.nome}}</h1>
            <ion-badge color="medium" *ngFor="let filmes of ator.filmes">
              {{filmes}}
            </ion-badge>
            <ion-icon name="star" [color]="ator.favorito===true ? 'warning' : ('light')"></ion-icon>
          </div>
        </ion-label>
        </ion-item>


      <ion-item-options side="end">
        <ion-item-option color="primary"  (click)="exibirAlertaFavorito(ator)">
          <ion-icon slot="icon-only" name="star"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>